body { 
    cursor: url(./cursor/paint.png), auto; 
    margin: 0; /* Fix nav border */
    padding: 0; /* Fix nav border */
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 20px; /* Adjust padding as needed */
}

.shape-container {
  display: flex;
}

.shape {
  position: absolute;
}

.circleA {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(165, 2, 2);
  top: 500px; /* Adjust top position as needed */
  left: 100px; /* Adjust left position as needed */
}

.ovalA {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(5, 5, 112);
  top: 490px; /* Adjust top position as needed */
  left: 135px; /* Adjust left position as needed */
  transform: rotate(160deg);
}

.ovalB {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(5, 5, 112);
  top: 540px; /* Adjust top position as needed */
  left: 120px; /* Adjust left position as needed */
  transform: rotate(45deg);
}

.ovalC {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(5, 5, 112);
  top: 540px; /* Adjust top position as needed */
  left: 60px; /* Adjust left position as needed */
  transform: rotate(-45deg);
}

.ovalD {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(5, 5, 112);
  top: 485px; /* Adjust top position as needed */
  left: 50px; /* Adjust left position as needed */
  transform: rotate(30deg);
}

.ovalE {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(5, 5, 112);
  top: 460px; /* Adjust top position as needed */
  left: 100px; /* Adjust left position as needed */
  transform: rotate(105deg);
}

.rectangleA {
  width: 5px; /* Adjust width as needed */
  height: 175px; /* Adjust height as needed */
  background-color: rgb(46, 114, 73); /* Adjust color as needed */
  position: absolute; /* Positioning for thin rectangle */
  top: 535px; /* Adjust top position as needed */
  left: 112px; /* Adjust left position as needed */
}

.circleB {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color:rgb(63, 1, 98);
  top: 500px; /* Adjust top position as needed */
  left: 1300px; /* Adjust left position as needed */
}

.ovalF {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(235, 112, 81);
  top: 490px; /* Adjust top position as needed */
  left: 1335px; /* Adjust left position as needed */
  transform: rotate(160deg);
}

.ovalG {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(235, 112, 81);
  top: 540px; /* Adjust top position as needed */
  left: 1320px; /* Adjust left position as needed */
  transform: rotate(45deg);
}

.ovalH {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(235, 112, 81);
  top: 540px; /* Adjust top position as needed */
  left: 1260px; /* Adjust left position as needed */
  transform: rotate(-45deg);
}

.ovalI {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(235, 112, 81);
  top: 485px; /* Adjust top position as needed */
  left: 1250px; /* Adjust left position as needed */
  transform: rotate(30deg);
}

.ovalJ {
  width: 50px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(235, 112, 81);
  top: 460px; /* Adjust top position as needed */
  left: 1300px; /* Adjust left position as needed */
  transform: rotate(105deg);
}

.rectangleB {
  width: 5px; /* Adjust width as needed */
  height: 175px; /* Adjust height as needed */
  background-color: rgb(46, 114, 73); /* Adjust color as needed */
  position: absolute; /* Positioning for thin rectangle */
  top: 535px; /* Adjust top position as needed */
  left: 1315px; /* Adjust left position as needed */
}

.rounded-squareA {
  width: 75px; /* Adjust width as needed */
  height: 175px; /* Adjust height as needed */
  background-color: #ff69b4; /* Pink */
  border-radius: 50px; /* Adjust border-radius to control the roundness of corners */
  border-bottom-left-radius: 30; /* Set the bottom left corner to be square */
  border-bottom-right-radius: 0; /* Set the bottom right corner to be square */
  border-top-left-radius: 0;
  top: 300px;
  left: 400px;
}

.rounded-squareB {
  width: 75px; /* Adjust width as needed */
  height: 175px; /* Adjust height as needed */
  background-color: #ff69b4; /* Pink */
  border-radius: 50px; /* Adjust border-radius to control the roundness of corners */
  border-bottom-left-radius: 0; /* Set the bottom left corner to be square */
  border-bottom-right-radius: 30; /* Set the bottom right corner to be square */
  border-top-right-radius: 0;
  top: 300px;
  left: 479px;
}

.rectangleC {
  width: 5px; /* Adjust width as needed */
  height: 230px; /* Adjust height as needed */
  background-color: rgb(46, 114, 73); /* Adjust color as needed */
  position: absolute; /* Positioning for thin rectangle */
  top: 480px; /* Adjust top position as needed */
  left: 475px; /* Adjust left position as needed */
}

.rounded-squareC {
  width: 75px; /* Adjust width as needed */
  height: 175px; /* Adjust height as needed */
  background-color: #ff69b4; /* Pink */
  border-radius: 50px; /* Adjust border-radius to control the roundness of corners */
  border-bottom-left-radius: 30; /* Set the bottom left corner to be square */
  border-bottom-right-radius: 0; /* Set the bottom right corner to be square */
  border-top-left-radius: 0;
  top: 300px;
  left: 900px;
}

.rounded-squareD {
  width: 75px; /* Adjust width as needed */
  height: 175px; /* Adjust height as needed */
  background-color: #ff69b4; /* Pink */
  border-radius: 50px; /* Adjust border-radius to control the roundness of corners */
  border-bottom-left-radius: 0; /* Set the bottom left corner to be square */
  border-bottom-right-radius: 30; /* Set the bottom right corner to be square */
  border-top-right-radius: 0;
  top: 300px;
  left: 979px;
}

.rectangleD {
  width: 5px; /* Adjust width as needed */
  height: 230px; /* Adjust height as needed */
  background-color: rgb(46, 114, 73); /* Adjust color as needed */
  position: absolute; /* Positioning for thin rectangle */
  top: 480px; /* Adjust top position as needed */
  left: 975px; /* Adjust left position as needed */
}

.rounded-squareE {
  width: 100px; /* Adjust width as needed */
  height: 280px; /* Adjust height as needed */
  background-color: #ff69b4; /* Pink */
  border-radius: 50px; /* Adjust border-radius to control the roundness of corners */
  border-bottom-left-radius: 30; /* Set the bottom left corner to be square */
  border-bottom-right-radius: 0; /* Set the bottom right corner to be square */
  border-top-left-radius: 0;
  top: 80px;
  left: 650px;
}

.rounded-squareF {
  width: 100px; /* Adjust width as needed */
  height: 280px; /* Adjust height as needed */
  background-color: #ff69b4; /* Pink */
  border-radius: 50px; /* Adjust border-radius to control the roundness of corners */
  border-bottom-left-radius: 0; /* Set the bottom left corner to be square */
  border-bottom-right-radius: 30; /* Set the bottom right corner to be square */
  border-top-right-radius: 0;
  top: 80px;
  left: 759px;
}

.rectangleE {
  width: 7px; /* Adjust width as needed */
  height: 345px; /* Adjust height as needed */
  background-color: rgb(46, 114, 73); /* Adjust color as needed */
  position: absolute; /* Positioning for thin rectangle */
  top: 365px; /* Adjust top position as needed */
  left: 751px; /* Adjust left position as needed */
}