.watering-can {
    display: flex;
    position: relative;
    margin-top: 0px;
    margin-left: 65%;
    z-index: 1;
}

.cylinder-button {
    width: 100px; 
    height: 135px; 
    border: none;
    border-radius: 30px; 
    background-color: black; 
    color: #fff; 
    font-size: 18px; 
    cursor: pointer; 
    display: inline-block; 
    z-index: 1;
}

.rounded-line-buttonA {
    position: absolute;
    top: 5.5px;
    left: -399px;
    width: 510px; 
    height: 206px; 
    border: solid 10px transparent; 
    border-left-color: transparent; 
    border-right-color: #000; 
    border-radius: 50%; 
    transform: rotate(-15deg);
    z-index: 1;
}

.rounded-line-buttonB {
    position: absolute;
    top: -5px;
    left: -37px;
    height: 130px; 
    border: solid 13px transparent; 
    border-right-color: #000; 
    transform: rotate(120deg);
    z-index: 1;
}

.button-description {
    display: flex;
    position: relative;
    font-family: monospace;
    color: rgb(56, 55, 55);
    font-size: 23px;
    margin-top: -85px;
    left: 16.5px;
    z-index: 2;
}

.water-text:hover {
    color: white; /* Change text color to white on hover */
    background-color: black; /* Change background color to black on hover */
  }

  .watering-can:hover {
    transform: rotate(-45deg) translateY(0px); /* Rotate and translate the container on hover */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
  }

@media (max-width: 900px) {
 .watering-can {
    margin-top: 65px;
    margin-left: 60%;
 }
}

/* On Click Event */

.cylinder-button.clicked {
    background-color: darkblue; /* Change the color when clicked */
  }

  .rounded-line-buttonA.clicked {
    border-right-color: darkblue; 
}

.rounded-line-buttonB.clicked {
    border-right-color: darkblue; 
}

.water-text.clicked {
    background-color: darkblue;
    color: white;
}